#container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}
body {
  margin: 0px;

}
.kitty {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("kit1.jpg");
  background-size: cover;
  background-position: center;
  transition-duration: 1s;
  transition-property: transform;
}
#kitty2 {
  background-image: url('kit2.jpg');
}
#kitty3 {
  background-image: url('kit3.jpg');
}
.kitty.left {
  transform: translateX(-100%);
  transition-duration: 1s;
  transition-property: transform;
}
.kitty.right {
  transform: translateX(100%);
  transition-duration: 0s;
  transition-property: transform;
}

.dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0px;
  z-index: 6;

}
.dot {
  z-index: 6;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px white solid;
  border-radius: 20px;
}

.currentDot {
  background-color: white;
}
